<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img class="avatar" src="/logo.jpeg" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Oops! You found my secret website.. Have fun!!!</p>
    <p>
    <a href="/">Timeline 时间线</a><br>
    <a href="/categorical">Categories 分类</a>
    </p>
    <p></p>
    <p><a href="/about">About Me 关于我</a></p>
  </div>
  
  <div id="social">
    {% include social.html %}
  </div>
</nav>
